#info p{
    margin-block-start: 2px;
    margin-block-end: 2px;
}
.hList {
    display: flex;
    gap: 16px;
    /* align-items: flex-start; */
}

.hListText {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.hListGraph {
    display: flex;
    gap: 16px;
    width: 100%;
}

.domainDiv {
    flex: 3;
}

.graphInfo {
    flex: 2;
}

.hListText p {
    margin-block-start: 6px;
    margin-block-end: 6px;
    /* display: inline-block; */
}


#audioButtons button {
    margin-bottom: 6px;
}

#OSMDContainer {
    margin-right: 16px;
}