<!DOCTYPE html>
<html>

<!-- Head -->

<head>
    <title>FYP Project 22343261</title>
    <link rel="icon" href="data:,"> <!-- Hides Favicon Errors -->
    <link rel="stylesheet" href="/view/css/light_theme.css">

    <!-- D3.js is for graphing -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- OpenSheetMusicDisplay: Online import as I couldnt get the offline to work using npm nor manual import -->
    <script src="https://cdn.jsdelivr.net/npm/opensheetmusicdisplay/build/opensheetmusicdisplay.min.js"></script>

    <!-- Meyda: Audio processing -->
    <script src="https://cdn.jsdelivr.net/npm/meyda@5.6.3/dist/web/meyda.min.js"></script>

    <!-- dynamic-time-warping: aliging score and audio -->
    <script src="https://cdn.jsdelivr.net/npm/dynamic-time-warping@1.0.0/src/dynamic-time-warping.js"></script>

    <script type="module" src="/main.js"></script>
    <script type="module" src="/view/ui.js"></script>
    <script type="module" src="/controller/helpers.js"></script>
    <script type="module" src="/controller/audio/audioController.js"></script>
    <script type="module" src="/controller/score/osmdController.js"></script>
    <script type="module" src="/controller/compare.js"></script>
    <script type="module" src="/model/values.js"></script>
</head>

<!-- Body -->

<body>
    <h1>
        Real-time Interactive Music Score Tracking Using Live Microphone Input
    </h1>
    <details>
        <summary>Information & Domain Graphs</summary>

        <!-- Misc Data Info -->
        <button id="checkServer">Check Server</button>
        <button hidden id="toggleInfo">Toggle Audio Info</button>
        <div hidden id="info"></div>

        <!-- Domain Graphs: TODO - Update info with more accurate data from worklet -->
        <div class="hListGraph">
            <div class="domainDiv">
                <h3>Time Domain (Amplitude/Time)</h3>
                <canvas id="timeDomainGraph" width="250" height="100"></canvas>
            </div>

            <div class="domainDiv">
                <h3>Frequency Domain (Amplitude/Freq)</h3>
                <canvas id="frequencyDomainGraph" width="250" height="100"></canvas>
            </div>
        </div>

        <div class="hList">
            <h3>DTW Method:</h3>
            <select id="dtwMethod">
                <option value="cosine">Cosine</option>
                <option value="ssd">SSD</option>
                <option value="euclidean">Euclidean</option>
                <option value="manhattan">Manhattan</option>
                <option value="chebyshev">Chebyshev</option>
                <option value="minkowski">Minkowski</option>
                <option value="canberra">Canberra</option>
                <option value="pearson">Pearson</option>
            </select>

            <h3>Threshold:</h3>
            <input id="dtwThreshold" type="range" min="0.1" max="0.5" step="0.01" value="0.20">
            <span id="thresholdValue">0.20</span>

            <div class="hListText">
                <div>
                    <p id="pTitle">Cents</p>
                    <p id="centsValue">-</p>
                </div>
                <div>
                    <p id="pTitle">Monophonic RMS</p>
                    <p id="rmsValue">-</p>
                </div>
                <div>
                    <p id="pTitle">Polyphonic RMS</p>
                    <p id="meydaRmsValue">-</p>
                </div>
            </div>
        </div>
    </details>

    <!-- Score, Controls and Expected Notes -->
    <div class="hListStick">
        <div class="notes" >
            <h3>Expected Notes</h3>
            <div id="expectedNotes">
                <p>-</p>
            </div>
        </div>
        
        <div class="hListText">
            <div id="chromaContainer"></div>
        </div>

        <div class="notes">
            <h3>Detected Notes</h3>
            <div id="detectedNotes">
                <p>-</p>
            </div>
        </div>
    </div>

    <div id="OSMDContainer">
        <div id="OSMD"></div>
    </div>
</body>

<footer>

    <div class="hList">
        <h3>Zoom:</h3>
        <button id="zoomm" type="button" style="font-weight: bolder;">-</button>
        <p id="zoomValue"></p>
        <button id="zoomp" type="button" style="font-weight: bolder;">+</button>

        <h3>Cursor:</h3>
        <button id="prev" style="font-weight: bolder;"><</button>
        <button id="reset">Reset</button>
        <button id="next" style="font-weight: bolder;">></button>

        <h3>Audio:</h3>
        <button id="audioListen" hidden>Listen</button>
        <button id="audioStart" class="primary">Start</button>
        <button id="audioStop" hidden>Stop</button>

        <h3>Score:</h3>
        <div id="scoreAudioInputs">
            <input title="Score Input" id="scoreInput" type="file"
                accept=".musicxml, .mxl, .pdf, .png, .jpg, .mid, .midi" />
        </div>
    </div>

</footer>

</html>