#info p {
    margin-block-start: 2px;
    margin-block-end: 2px;
}

.hList {
    display: flex;
    gap: 16px;
    /* align-items: flex-start; */
}

.hListText {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.hListGraph {
    display: flex;
    gap: 16px;
    width: 100%;
}

.hListStick {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    margin-left: -8px;
    margin-right: -8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.domainDiv {
    flex: 3;
}

.graphInfo {
    flex: 2;
}

.hListText p {
    margin-block-start: 6px;
    margin-block-end: 6px;
    /* display: inline-block; */
}


#audioButtons button {
    margin-bottom: 6px;
}

#OSMDContainer {
    margin-right: 16px;
}

#chromaContainer {
    display: flex;
    gap: 2px;
    margin: 1px;
}

.chromaBox {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    text-align: center;
    align-content: center;
    font-weight: bolder;

}

#expectedNotes p {
    margin-block-end: 0em;
    margin-block-start: 0em;
    font-size: 15px;
}

#freqNoteValue p{
    margin-block-end: 0em;
    margin-block-start: 0em;
    font-size: 15px;
}